h1 {
    background-color: rgb(94, 94, 252);
    text-align: center;
    padding: 50px;
}

h2 {
    text-align: center;
    padding: 50px;
}

#button {
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(94, 94, 252);
}