        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        nav>ul {
            list-style: none;
            width: 550px;
        }
        
        nav>ul>li {
            display: inline-flex;
            flex-wrap: wrap;
        }
        /*--------------------------------------- button -------------------------------------*/
        
        .btncolor {
            background-color: #b3b3b3;
            width: 100px;
            height: 30px;
            color: black;
            cursor: pointer;
        }
        
        .choice {
            margin: 20px 120px;
        }
        /*-------------------------------- DIV --------------------------------------*/
        
        #divColor {
            margin-top: 15vw;
        }
        
        #color {
            border-radius: 5px;
            width: 152px;
        }
        
        #height {
            border-radius: 5px;
        }
        
        #width {
            border-radius: 5px;
        }
        
        #btn {
            margin: 20px 120px;
        }
        
        #posX {
            border-radius: 5px;
        }
        
        #posY {
            border-radius: 5px;
        }